<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <h1>{{ book.title }}</h1>
            <p>ID: {{ book.id }}</p>
            <p>Description: {{ book.desc }}</p>
            <p>Authors:</p>
            <ul>
                {% for author in book.authors.all %}
                <li>{{ author.first_name }} {{ author.last_name }}</li>
                {% endfor %}
            </ul>

            <form action="/author_to_book/{{book.id}}" method="post">
                {% csrf_token %}
                <select class="custom-select" name="form_author_info">
                    <option selected>Select an Author</option>
                    {% for author in all_authors %}
                    <option value="{{ author.id }}"
                        >{{ author.first_name }} {{ author.last_name }}</option
                    >
                    {% endfor %}
                </select>
                <!-- <input type="hidden" name="author_info" value="{{author.id}}"> HIDDEN INPUT -->
                <input type="submit" value="Add" />
            </form>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
