<!DOCTYPE html>
<html lang="en">
    <head>
        <title>All Shows</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4">All Shows</h1>

            <table class="table col-8 mx-auto mb-5 my-5">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show in all_shows %}
                    <tr>
                        <th scope="row">{{ show.id }}</th>
                        <td>{{ show.title }}</td>
                        <td>{{ show.network }}</td>
                        <td>{{ show.release_date }}</td>
                        <td>
                            <a href="/shows/{{ show.id }}">Show</a> |
                            <a href="/shows/{{ show.id }}/edit"> Edit</a>
                            |
                            <a href="/shows/{{ show.id }}/delete"> Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="shows/new">Add a New Show</a>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
